@import '../../../../assets/color.scss';

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 232px;
  height: 52px;
  padding: 4px 8px;
  background-color: $secondary;
  font-size: 3.6rem;
  font-weight: 800;
  color: $grey900;
  border-radius: 6px;
  overflow: hidden;
}

.wrapper {
  width: 240px;
  height: 60px;
  padding: 4px;
  border-radius: 4px;
}

.inactive {
  opacity: .5;
}

.text {
  padding: 25px 8px 4px;
  font-size: 2.4rem;
}

.value {
  padding: 25px 8px 4px;
  font-size: 1.9rem;
}
